doctype html
html(lang='en')
	include head
	body
		h1#username #{userinfo.login}
		#profileInfo.centerVertical.shadedBox
			#leftInfo
				img#profilePic(src="/default-user-profile.svg" alt="Profile Picture")
				p #{userinfo.firstName} #{userinfo.lastName}
				if added
					button#friendbutton(type='button' onclick='unfriend(); return false') Unfriend
				else if user && (user.login == userinfo.login)
					button(type='button' onclick='window.location.href="/settings"; return false') Settings
				else
					button#friendbutton(type='button' onclick='friend(); return false') Add Friend
			#rightInfo
				p Steps #{userinfo.steps}
				p Global Rank #{globalrank}
				p Friend Rank #{friendrank}
		if friendtable
			h2#tableTitle Friends
			table#indexTable.shadedBox
				tr
					th Friend Rank
					th Friend
					th Points
				each val, index in friendtable
					tr#linkRow(onclick="window.location.href='/user/" + val.login + "'; return false")
						td= index + 1
						td= val.login
						td= val.total_points