doctype html
html(lang='en')
	include head
	body
		p #{userinfo.user_id}
		p #{userinfo}
		p Steps #{userinfo}
		if added
			button(type='button') Unfriend
		else
			button(type='button') Friend
		p Global Rank #{globalrank}
		p Friend Rank #{friendrank}
		if friendtable
			table
				tr
					th Friend Rank
					th Friend
					th Points
				each val, index in friendtable
					tr
						td= index + 1
						td= val.login
						td= val.total_points